#body {
  background: #ffffff url("images/background.jpg") repeat-x;
}
#wrap {
  width:700px;
  margin:0px auto 15px auto;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#666666;
}
/* Header */
#header {
  height:242X;
  margin:0px auto 15px auto;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#ff0000;
}
/* Header Menu */
#topmenu {
  display:block;
  list-style:none;
  padding:0 0px 0px 278px;
  float: right;
  width: 415px;
}
#topmenu li {
  display:inline;
}
#topmenu a {
  dislpay:block;
  float:left;
  height:28px;
  margin:0px 0px 0px 0px;
  text-decoration:none;
  padding:9px 15px 0px 15px;
  text-align:center;
}
